* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #eee;
  background: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  max-width: 400px;
  min-width: 300px;
  min-height: 600px;
  width: calc(100vw - 2rem);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;

  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px 0 white;
}

.app:hover img {
  box-shadow: 0 0 5px 0 white;
}

.header {
  padding: 1.25em;
  text-align: center;
  margin-bottom: 1.25em;
}

.header img {
  border-radius: 50px;
  transition: box-shadow 0.3s ease;
}

.header .handle {
  letter-spacing: 1px;
}

.header .description {
  font-size: 0.875em;
}

.links {
  list-style: none;
  margin: 1.25em;
}

.links .list-item {
  text-align: center;
}

.links .list-item a {
  border-radius: 25px;
  box-shadow: 0 0 2px 0 white;
  display: inline-block;
  padding: 0.8em;
  width: 12em;
  margin-bottom: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.links .list-item a:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.footer {
  font-size: 0.875em;
  text-align: center;
  margin: 3rem 0 1rem;
}

.credit {
  z-index: -1;
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  opacity: 0.5;
  font-size: 12px;
}

.credit a {
  text-decoration: underline;
}
